In [1]:
import pandas as pd

data = {
    "MaSV": [1, 2, 3],
    "HoTen": ["An", "Binh", "Nguyen"],
    "Diem": [8.5, 7.0, 8.0]
}
sinhvien = pd.DataFrame(data)

In [3]:
sinhvien.head(1)

   MaSV HoTen  Diem
0     1    An   8.5

In [4]:
sinhvien.tail(3)

   MaSV   HoTen  Diem
0     1      An   8.5
1     2    Binh   7.0
2     3  Nguyen   8.0

In [5]:
sinhvien["HoTen"]

0        An
1      Binh
2    Nguyen
Name: HoTen, dtype: object

In [6]:
sinhvien["HoTen"].head(2)

0      An
1    Binh
Name: HoTen, dtype: object

In [8]:
sinhvien[["HoTen","Diem"]]

    HoTen  Diem
0      An   8.5
1    Binh   7.0
2  Nguyen   8.0

In [9]:
sinhvien.columns[1]

'HoTen'

In [12]:
import pandas as pd

sinhvien = pd.read_csv("student.csv", sep = ';')

#sinhvien.head()
sinhvien.tail(2)

            ID            Name         BOD Gender Mark           Class
93  17050098.0  Nguyễn THị Vân  21/09/1999      F    7  QH-2017-E KTPT
94  16051811.0  Trần Ngọc Xuân  04/11/1998      F  NaN  QH-2016-E KTPT

In [13]:
sinhvien.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95 entries, 0 to 94
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      87 non-null     float64
 1   Name    95 non-null     object
 2   BOD     89 non-null     object
 3   Gender  95 non-null     object
 4   Mark    73 non-null     object
 5   Class   95 non-null     object
dtypes: float64(1), object(5)
memory usage: 4.6+ KB

In [75]:
sinhvien.select_dtypes(include="int").describe()

           Fee     Discount
count      6.0     6.000000
mean   18000.0   933.333333
std     4000.0   557.374799
min    15000.0   500.000000
25%    15000.0   575.000000
50%    16500.0   800.000000
75%    19500.0   950.000000
max    25000.0  2000.000000

In [18]:
rows, cols = sinhvien.shape
print("So dong:", rows)
print("So cot:", cols)

So dong: 95
So cot: 6

In [19]:
sinhvien.value_counts(dropna = False)

ID          Name                BOD         Gender  Mark  Class
17050098.0  Nguyễn THị Vân      21/09/1999  F       7     QH-2017-E KTPT       3
17050026.0  Lê Hồng Hoa         NaN         F       NaN   QH-2017-E KTPT       2
16050075.0  Nguyễn Thị Mỹ Lệ    10/06/1998  F       6     QH-2017-E KTPT       2
16051802.0  Nguyễn Doãn Trung   25/09/1998  M       5     QH-2016-E KTPT       2
16051730.0  Mai Thị Giang       08/09/1998  M       9     QH-2017-E KTPT       2
                                                                              ..
16050175.0  Nông Thanh Thảo     11/10/1998  M       4     QH-2016-E KTPT       1
16050174.0  Nguyễn THị Hải Yến  04/03/1998  F       6     QH-2016-E KTPT       1
16050160.0  Trịnh Thị Hải Yên   13/06/1998  F       4     QH-2017-E KTPT       1
16050158.0  Phạm Thị Hà Vy      20/05/1998  F       5     QH-2017-E KẾ TOÁN    1
NaN         Trịnh Mai Trang     25/06/1998  F       8     QH-2017-E KTPT       1
Name: count, Length: 79, dtype: int64

In [20]:
sinhvien["ID"].value_counts()

ID
16051811.0    3
17050098.0    3
16050021.0    2
16051767.0    2
16051752.0    2
             ..
16050085.0    1
16050088.0    1
16051722.0    1
16051762.0    1
16051814.0    1
Name: count, Length: 70, dtype: int64

In [26]:
sinhvien.sort_values(by = ["ID", "Name"], ascending = False)

            ID                 Name         BOD Gender Mark           Class
83  17050098.0       Nguyễn THị Vân  21/09/1999      F    7  QH-2017-E KTPT
88  17050098.0       Nguyễn THị Vân  21/09/1999      F    7  QH-2017-E KTPT
93  17050098.0       Nguyễn THị Vân  21/09/1999      F    7  QH-2017-E KTPT
79  17050095.0        Đào Thu Trinh  08/09/1999      F    3  QH-2017-E KTPT
73  17050090.0        Nguyễn Anh Tú  09/07/1999      F    9  QH-2016-E KTPT
..         ...                  ...         ...    ...  ...             ...
30         NaN  Phùng Thị Bích Hoàn  04/11/1998      M    9  QH-2017-E KTPT
85         NaN   Nguyễn Thị Hải Vân  18/09/1998      F    9  QH-2017-E KTPT
49         NaN      Nguyễn Thu Ngân  20/08/1998      M    8  QH-2017-E KTPT
47         NaN         Nguyễn Hà My  14/02/1997      M    5  QH-2017-E KTPT
26         NaN        Hoàng Quý Huy  24/02/1998      F    8  QH-2016-E KTPT

[95 rows x 6 columns]

In [42]:
#Bai 3:
#Loc du lieu voi dieu kien
sinhvien[sinhvien["Gender"] == "M"]

,ID,Name,BOD,Gender,Mark,Class
12,16050021.0,Lê Thị Giang,07/09/1998,M,0,QH-2017-E KINH TẾ
13,16051730.0,Mai Thị Giang,08/09/1998,M,9,QH-2017-E KTPT
16,16050028.0,Nguyễn Thị Thúy Hiền,12/03/1998,M,8,QH-2017-E KINH TẾ
18,17050022.0,Hoàng Minh Hiếu,21/06/1999,M,0,QH-2016-E KTPT
19,16050021.0,Lê Thị Giang,07/09/1998,M,0,QH-2017-E KINH TẾ
20,16051730.0,Mai Thị Giang,08/09/1998,M,9,QH-2017-E KTPT
23,NaN,Phùng Thị Bích Hoàn,04/11/1998,M,9,QH-2017-E KTPT
24,16050038.0,Đỗ Thị Hồng,20/06/1998,M,0,QH-2017-E KINH TẾ
25,17050035.0,Nguyễn Thanh Huệ,12/04/1999,M,7,QH-2016-E KTPT
30,NaN,Phùng Thị Bích Hoàn,04/11/1998,M,9,QH-2017-E KTPT
31,16050038.0,Đỗ Thị Hồng,20/06/1998,M,0,QH-2017-E KINH TẾ
35,NaN,Trương Tuấn Huy,06/04/1998,M,5,QH-2016-E KTPT
43,16050084.0,Phạm Lê Diệu Linh,21/08/1998,M,6,QH-2016-E KTPT
46,16050091.0,Trương Hoàng Minh,27/07/1998,M,4,QH-2017-E KTPT
47,NaN,Nguyễn Hà My,14/02/1997,M,5,QH-2017-E KTPT
49,NaN,Nguyễn Thu Ngân,20/08/1998,M,8,QH-2017-E KTPT
68,16050175.0,Nông Thanh Thảo,11/10/1998,M,4,QH-2016-E KTPT
69,16051784.0,Hoàng Thị Thu Thủy,20/10/1998,M,5,QH-2016-E KTPT
71,16050140.0,Trần Thị Trang,29/12/1998,M,7,QH-2016-E KTPT
80,16051802.0,Nguyễn Doãn Trung,25/09/1998,M,5,QH-2016-E KTPT
81,16051803.0,Trần Văn Trường,10/02/1997,M,0,QH-2016-E KTPT
90,16051802.0,Nguyễn Doãn Trung,25/09/1998,M,5,QH-2016-E KTPT
91,16051803.0,Trần Văn Trường,10/02/1997,M,0,QH-2016-E KTPT

In [33]:
#Loc du lieu voi dieu kien, nhung chi hien thi 1 vai col chi dinh
sinhvien.loc[sinhvien["Gender"] == "M",["Name", "Gender", "Class"]]

                    Name Gender              Class
12          Lê Thị Giang      M  QH-2017-E KINH TẾ
13         Mai Thị Giang      M     QH-2017-E KTPT
16  Nguyễn Thị Thúy Hiền      M  QH-2017-E KINH TẾ
18       Hoàng Minh Hiếu      M     QH-2016-E KTPT
19          Lê Thị Giang      M  QH-2017-E KINH TẾ
20         Mai Thị Giang      M     QH-2017-E KTPT
23   Phùng Thị Bích Hoàn      M     QH-2017-E KTPT
24           Đỗ Thị Hồng      M  QH-2017-E KINH TẾ
25      Nguyễn Thanh Huệ      M     QH-2016-E KTPT
30   Phùng Thị Bích Hoàn      M     QH-2017-E KTPT
31           Đỗ Thị Hồng      M  QH-2017-E KINH TẾ
35       Trương Tuấn Huy      M     QH-2016-E KTPT
43     Phạm Lê Diệu Linh      M     QH-2016-E KTPT
46     Trương Hoàng Minh      M     QH-2017-E KTPT
47          Nguyễn Hà My      M     QH-2017-E KTPT
49       Nguyễn Thu Ngân      M     QH-2017-E KTPT
68       Nông Thanh Thảo      M     QH-2016-E KTPT
69    Hoàng Thị Thu Thủy      M     QH-2016-E KTPT
71        Trần Thị Trang      M     QH-2016-E KTPT
80     Nguyễn Doãn Trung      M     QH-2016-E KTPT
81       Trần Văn Trường      M     QH-2016-E KTPT
90     Nguyễn Doãn Trung      M     QH-2016-E KTPT
91       Trần Văn Trường      M     QH-2016-E KTPT

In [36]:
#kiem tra gia tri null
sinhvien.isnull()
sinhvien["Mark"].isnull()
sinhvien["Mark"].isnull().sum() #xem co bn gia tri null trong cot Diem

22

In [37]:
#xoa cac gia tri rong
sinhvien.dropna()
sinhvien.dropna(axis = 1)  #Xoa cac gia tri rong

                 Name Gender              Class
0     Đặng Phương Anh      F     QH-2016-E KTPT
1    Đinh Thị Vân Anh      F  QH-2017-E KINH TẾ
2          Đỗ Lan Anh      F     QH-2017-E KTPT
3       Kiều Ngọc Ánh      F     QH-2017-E KTPT
4         Lê Ngọc Ánh      F     QH-2017-E KTPT
..                ...    ...                ...
90  Nguyễn Doãn Trung      M     QH-2016-E KTPT
91    Trần Văn Trường      M     QH-2016-E KTPT
92    Trần THị Cẩm Tú      F     QH-2016-E KTPT
93     Nguyễn THị Vân      F     QH-2017-E KTPT
94     Trần Ngọc Xuân      F     QH-2016-E KTPT

[95 rows x 3 columns]

In [50]:
#dien vao gia tri null = 1 gia tri x cu the
sinhvien["Mark"] = sinhvien["Mark"].fillna(sinhvien["Mark"].mean())

In [52]:
#Gom du lieu
sinhvien.groupby("Class").agg({
    "Mark": ["max", "min", "count", "sum", "median"]
})

                    Mark
                     max  min count         sum median
Class
QH-2015-E KTPT       5.0  5.0     2   10.000000    5.0
QH-2015-E KTPT-LUẬT  0.0  0.0     1    0.000000    0.0
QH-2016-E KINHTE     9.0  4.0     4   28.000000    7.5
QH-2016-E KTPT       9.0  0.0    38  158.000000    5.0
QH-2017-E KINH TẾ    9.0  0.0    10   41.000000    3.5
QH-2017-E KTPT       9.0  0.0    39  206.723404    6.0
QH-2017-E KẾ TOÁN    5.0  5.0     1    5.000000    5.0

In [53]:
#thay doi gia tri
sinhvien.replace(["F","M"],["Nam","Nu"])

            ID               Name         BOD Gender  Mark              Class
0   16050007.0    Đặng Phương Anh  24/02/1998    Nam   7.0     QH-2016-E KTPT
1   16051722.0   Đinh Thị Vân Anh  21/11/1998    Nam   9.0  QH-2017-E KINH TẾ
2   16050014.0         Đỗ Lan Anh         NaN    Nam   4.0     QH-2017-E KTPT
3   16051723.0      Kiều Ngọc Ánh  06/10/1998    Nam   6.0     QH-2017-E KTPT
4   16050008.0        Lê Ngọc Ánh  17/02/1998    Nam   3.0     QH-2017-E KTPT
..         ...                ...         ...    ...   ...                ...
90  16051802.0  Nguyễn Doãn Trung  25/09/1998     Nu   5.0     QH-2016-E KTPT
91  16051803.0    Trần Văn Trường  10/02/1997     Nu   0.0     QH-2016-E KTPT
92  16051804.0    Trần THị Cẩm Tú  13/12/1998    Nam   0.0     QH-2016-E KTPT
93  17050098.0     Nguyễn THị Vân  21/09/1999    Nam   7.0     QH-2017-E KTPT
94  16051811.0     Trần Ngọc Xuân  04/11/1998    Nam   0.0     QH-2016-E KTPT

[95 rows x 6 columns]

In [56]:
#thay doi ten thuoc tinh
sinhvien.rename(columns={"ID":"MSSV"})

          MSSV               Name         BOD Gender  Mark              Class
0   16050007.0    Đặng Phương Anh  24/02/1998      F   7.0     QH-2016-E KTPT
1   16051722.0   Đinh Thị Vân Anh  21/11/1998      F   9.0  QH-2017-E KINH TẾ
2   16050014.0         Đỗ Lan Anh         NaN      F   4.0     QH-2017-E KTPT
3   16051723.0      Kiều Ngọc Ánh  06/10/1998      F   6.0     QH-2017-E KTPT
4   16050008.0        Lê Ngọc Ánh  17/02/1998      F   3.0     QH-2017-E KTPT
..         ...                ...         ...    ...   ...                ...
90  16051802.0  Nguyễn Doãn Trung  25/09/1998      M   5.0     QH-2016-E KTPT
91  16051803.0    Trần Văn Trường  10/02/1997      M   0.0     QH-2016-E KTPT
92  16051804.0    Trần THị Cẩm Tú  13/12/1998      F   0.0     QH-2016-E KTPT
93  17050098.0     Nguyễn THị Vân  21/09/1999      F   7.0     QH-2017-E KTPT
94  16051811.0     Trần Ngọc Xuân  04/11/1998      F   0.0     QH-2016-E KTPT

[95 rows x 6 columns]

In [58]:
#du lieu bi trung
sinhvien.duplicated()
sinhvien.duplicated().sum() #dem
#sinhvien.drop_duplicate() #xoa

16

In [68]:
#them cot vao dataframe voi gia tri bang 0
sinhvien["Rank"] = 0

In [64]:
#Bai 4
#dem so luong gia tri khong null
sinhvien.count()
sinhvien.isnull().count()

ID        95
Name      95
BOD       95
Gender    95
Mark      95
Class     95
Rank      95
dtype: int64

In [69]:
#xoa thuoc tinh khong su dung trong du lieu
col = ["Rank"]
sinhvien.drop(col, inplace = True, axis = 1)

In [73]:
#Bai 5
sinhvien = pd.read_csv("courses.csv", sep = ',')

sinhvien.head(5)

  Courses    Fee Duration  Discount
0   Spark  25000  50 Days      2000
1  Pandas  20000  35 Days      1000
2    Java  15000      NaN       800
3  Python  15000  30 Days       500
4     PHP  18000  30 Days       800

In [74]:
#Bai 7

wine = pd.read_csv("wine.csv")

wine.head(5)

,Wine,Alcohol,Malic.acid,Ash,Acl,Mg,Phenols,Flavanoids,Nonflavanoid.phenols,Proanth,Color.int,Hue,OD,Proline
0,1,14.23,1.71,2.43,15.6,127.0,2.80,NaN,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,NaN,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735

In [ ]:
#tinh quan sat va thuoc tinh